<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="lt-ie9 lt-ie8 lt-ie7 {{htmlClasses}}"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="lt-ie9 lt-ie8 {{htmlClasses}}"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="lt-ie9 {{htmlClasses}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="{{htmlClasses}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="author" content="David Brainer-Banker">
    <title>{{title}}</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{{staticBase}}}stylesheets/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="{{{staticBase}}}vendor/require.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>